
<section class="mb-5">

    <div class="row no-gutters align-items-end mb-1">
        <div class="col-auto mr-3">
            <h4 class="my-0"><a href="{{ post.url }}">{{ post.title }}</a></h4>
        </div>
        <div class="col">
            <div class="text-muted"><i class="bi-calendar pr-2"></i>{{ post.date }}</div>
        </div>
    </div>

    {% if post.author_page != nil %}
        <div class="text-muted mb-2">Written by <a href="{{ post.author_page }}">{{ post.author }}</a></div>
    {% else %}
        <div class="text-muted mb-2">Written by {{ post.author }}</div>
    {% endif %}

    {% if post.teaser_image != nil %}
        <div class="text-center d-md-none mb-2">
            <img src="{{ post.teaser_image }}" class="rounded img-thumbnail img-fluid" />
        </div>
    {% endif %}

    <div class="row">

        <div class="col">
            <!-- calculated post excerpt here -->
            {{ post.excerpt }}

            <div>
                <i class="text-muted bi-tags-fill pr-2"></i>
                {% for tag in post.tags %}
                    <a href="{{ tag.url }}" class="border-right pr-2 mr-2">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>

        {% if post.teaser_image != nil %}
            <div class="col-md-5 col-lg-4 d-none d-md-block ">
                <img src="{{ post.teaser_image }}" class="rounded img-thumbnail img-fluid" />
            </div>
        {% endif %}
    </div>

</section>

